body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

}
.app {
  display: flex;
  flex: 1;
}

.ideas-column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #f0f0f0;
  border-right: 0.25rem solid #e8e8e8;
  width: 20rem;
}

.inputs {
  display: flex;
}

input.new-idea {
  padding: 0.5rem;
  font-size: 1rem;
  flex: 1;
  border: 0.0625rem solid #f8b087;
  background: #fff5eb;
}

button.add-new-idea {
  padding: 0.5rem;
  font-size: 1rem;
}

button.remove-idea {
  font-size: 1rem;
}

.ideas {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.idea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #ffffff;
  border: 0.0625rem solid #d4d4d4;
  box-shadow: 0 0.125rem 0.125rem #d4d4d4;
  border-radius: 0.125rem;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-header {
  padding: 0.5rem;
  text-transform: uppercase;
  color: #888888;
  font-size: 0.75rem;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  flex: 1;
  border-top: 0.0625rem solid #d4d4d4;
  border-left: 0.0625rem solid #d4d4d4;
}

.day {
  padding: 0.5rem;
  background: #fafafa;
  border-right: 0.0625rem solid #d4d4d4;
  border-bottom: 0.0625rem solid #d4d4d4;
}

.day.no-plan .plan {
  color: #888888;
}

.day.past {
  background: #f0f0f0;
  color: #888888;
}

.day.today {
  border-color: #fbd0b7;
  background: #fff5eb;
}

.day.weekend {
  opacity: 0.55;
}

.date {
}

.plan {
}
